{% extends '@!EasyAdmin/form/bootstrap_4.html.twig' %}

{% block item_actions %}
    {% set _translation_domain = easyadmin.entity.translation_domain %}
    {% set _trans_parameters = { '%entity_name%':  easyadmin.entity.name|trans, '%entity_label%': easyadmin.entity.label|trans } %}

    {# the 'save' action is hardcoded for the 'edit' and 'new' views #}
    <button type="submit" class="btn btn-primary action-save">
        <i class="fa fa-save"></i> {{ 'action.save'|trans(_trans_parameters, _translation_domain) }}
    </button>

    {% set _entity_actions = (easyadmin.view == 'new')
        ? easyadmin_get_actions_for_new_item(easyadmin.entity.name)
        : easyadmin_get_actions_for_edit_item(easyadmin.entity.name) %}

    {% set _entity_id = (easyadmin.view == 'new')
        ? null
        : attribute(easyadmin.item, easyadmin.entity.primary_key_field_name) %}

    {% set _request_parameters = { entity: easyadmin.entity.name, referer: app.request.query.get('referer') } %}

    {% set currentEntity = easyadmin.entity.name %}
    {% set currentEntityConfig = easyadmin_config('entities.' ~ currentEntity) %}
    {% set allowedActions = [] %}

    {% for action in _entity_actions %}
        {% set actionName = action.name %}

        {# config for the current action of the current entity in yml and custom role and not allowed#}
        {% if currentEntityConfig[actionName] is defined and currentEntityConfig[actionName].role is defined and not is_granted(currentEntityConfig[actionName].role) %}
            {# Action not allowed #}
        {% else %}
            {% set allowedActions = allowedActions|merge({(''~actionName): _entity_actions[actionName]}) %}
        {% endif %}

    {% endfor %}

    {% set _entity_actions = allowedActions %}

    {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
        actions: _entity_actions,
        request_parameters: _request_parameters,
        translation_domain: _translation_domain,
        trans_parameters: _trans_parameters,
        item_id: _entity_id
    }, with_context = false) }}

{% endblock item_actions %}

{# Set image file size #}
{% block _post_image_minimize_widget %}
    {% spaceless %}
        <div class="vich-image">
            {{ form_widget(form.file) }}
            {% if form.delete is defined %}
                {{ form_row(form.delete, { label: 'form.label.delete'|trans({}, 'VichUploaderBundle') }) }}
            {% endif %}

            {% if image_uri %}
            <a href="{{ image_uri }}"><img src="{{ asset(image_uri)  | imagine_filter('medium_thumb') }}"></a>
            {% endif %}
            {% if download_uri %}
                <a href="{{ download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
